
.form__label {
    display: grid;
    grid-template-columns: auto 180px;
    gap: 20px;
    padding-top: 10px;
}

@media (max-width: 767px) {
    .form__label {
        grid-template-columns: auto 160px;
    }
}

.form__result {
    text-align: center;
    font-size: x-large;
}

.button {
    display: flex;
    justify-content: center;
    margin: 0;
}

.button__specification {
    background-color: teal;
    padding: 15px 80px;
    border: none;
    box-shadow: none;
    border-radius: 8px;
    margin: 15px;
    color: #eee;
}

.button__specification:hover {
    background-color: hsl(180, 100%, 30%);
}
    
.button__specification:active {
    background-color: hsl(180, 100%, 35%);
}